.rps-card {
    position: relative;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.rps-box {
    border-radius: 20px;
    background: rgb(0, 0, 0);
    width: 60px;
    height: 60px;

}

:root {
    --underline-color: black; 
}

.rps-title {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    transform: scale(1.2);
}

.rps-title_dark {
    color: white;
}

.rps-card::after {
    content: " ";
    display: block;
    width: 536px;
    height: 1px;
    margin-top: 36px;
    background-color: var(--underline-color);
}


.rps-result {
    margin-top: 36px;
}

.rps-result_dark {
    color: white;
}

.computer-result {
    margin-top: 36px;
    width: 282px;
    height: 35px;
    background-color: black;
    color: white;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    transform: scale(1.2);
    text-align: center;

}

.box-wrap {
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 38px;
}

.rock-box {
    background-image: url(../img/stone.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
}

.scissors-box {
    background-image: url(../img/scissors.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
}

.paper-box {
    background-image: url(../img/paper.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    cursor: pointer;
}


.scoreboard {
    position: absolute;
    right: 220px;
    color: black;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;
}

.scoreboard_dark {
    color: white;
}


.scoreboard-result_dark {
    color: white;
}

.scoreboard-pc_dark {
    color: white;
}

.scoreboard-player_dark {
    color: white;
}