
 .team-slider {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  
}

.slider-team {
  position: relative;
  width: 300px;
  height: 350px;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}

.slider-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 30px;
}

.arrow {
     
   padding-bottom: 130px;
  
}

.right-arrow{
  padding-left: 200px;
}

.left-arrow{
  padding-right: 200px;
}

.arrow img {
  width: 100%;
  height: auto;

}

.slide-content {
  margin-top: 20px;
  padding-top: 30px;

  
}
.slider-info{
  padding-top: 20px;
}

 .slider-lines {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        .line {
            height: 3px;
            background: #000000;
            margin: 0 5px;
            flex-grow: 1;
            max-width: 18px;
            cursor: pointer;
            transition: background 0.3s;
            border-radius: 3px;
            position: relative;
            bottom: 90px;
        }

        .line.active {
            width: 30px ;
  background: rgb(122, 122, 122);
        }

        .li{

    width: 536px; 
    height: 1px;
    background-color: rgba(0, 0, 0, 1);
    margin: 20px auto;
    display: block;
    position: relative;
    bottom: 80px;
}
// @media (max-width: 768px) {
//   .team-slider {
//     padding: 10px;
//     max-width: 100%;
//   }

//   .slider-wrapper {
//     flex-direction: column;
//     gap: 10px;
//   }

//   .slider-team {
//     width: 100%;
//     height: auto;
//   }

//   .slider-img {
//     width: 120px;
//     height: 120px;
//     top: 0;
//   }

//   .slide-content {
//     top: 0;
//     margin-top: 10px;
//   }

//   .arrow {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     padding: 0 20px;
//   }

//   .arrow img {
//     width: 30px;
//     height: auto;
//   }
// }

// @media (max-width: 460px) {
//   .team-slider {
//     padding: 10px;
//     max-width: 100%;
//   }

//   .slider-wrapper {
    
//     flex-direction: column;
//     gap: 10px;
//   }

//   .slider-team {
//     width: 100%;
//     height: auto;
//   }

//   .slider-img {
//     width: 120px;
//     height: 120px;
//     top: 0;
//   }

//   .slide-content {
//     top: 0;
//     margin-top: 10px;
//   }

//   .arrow {
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     padding: 0 20px;
//   }

//   .arrow img {
//     width: 30px;
//     height: auto;
//   }
// }

.line_dark{
  background: #ffffff;
}
.line.active_dark {
            width: 30px ;
  background: rgb(43, 172, 179);
        }

.team-slider_dark {
 color: white;
    background-color: #494949;
}

.slider-wrapper_dark {
 
    background-color: #494949;
}

.slider-team_dark {
  color: white;
    background-color: #494949;
}

.slide_dark {
 color: white;
    background-color: #494949;
}

.slide_dark.active_dark {
 color: white;
    background-color: #494949;
}

.slider-img_dark {
  color: white;
    background-color: #494949;
}

.arrow_dark {
 color: white;
    
}



.slide-content_dark {
  color: white;
    background-color: #494949;
}



