.team-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    .slider-wrapper {
      display: flex;
      align-items: center;
      gap: 15px;
      width: 100%;
      max-width: 900px;
    }
  
    .slider {
      display: flex;
      gap: 15px;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 10px 0;
      width: 100%;
      
      &::-webkit-scrollbar {
        display: none; // Ховаємо скроллбар
      }
    }
  
    .slider-img {
      width: 150px;
      height: 150px;
      border-radius: 20px;
      object-fit: cover;
      scroll-snap-align: start;
      flex-shrink: 0; 
    }
  
    .arrow {
      
    }
  }

  .line{

    width: 536px; 
    height: 1px;
    background-color: black;
    margin: 20px auto;
    display: block;
}