body {
    font-family: 'Montserrat Alternates' , sans-serif;
    color: #000000;
    background-image: url(../img/main-background.svg);
    background-position: center 0px;
    background-repeat: no-repeat;
    background-size: 1441px;
}

.body_dark {
    color: #ffffff;
    background-color: #4d4d4d; 
}

a {
    color: #000000;
}