<div class="calculator">
  <h1 class="calculator-title">Калькулятор</h1>
  <div class="calculator-input">
    <input
      type="calculator-number"
      class="calculator-num1"
      placeholder="Введіть число"
    />
    <div class="calculator-operations">
      <button class="calculator-operations-btn">+</button>
      <button class="calculator-operations-btn">−</button>
      <button class="calculator-operations-btn">*</button>
      <button class="calculator-operations-btn">/</button>
    </div>
    <input type="number" class="calculator-num2" placeholder="Введіть число" />
    <button id="equals">=</button>
    <input type="text" class="calculator-result" placeholder="Результат" />
  </div>
</div>
