<div class="calculator">
  <h1>Калькулятор</h1>
  <div class="calculator-input">
    <input
      type="calculator-number"
      id="calculator-num1"
      placeholder="Введіть число"
    />
    <div class="calculator-operations">
      <button class="calculator-operations-btn">+</button>
      <button class="calculator-operations-btn">−</button>
      <button class="calculator-operations-btn">*</button>
      <button class="calculator-operations-btn">/</button>
    </div>
    <input type="number" id="calculator-num2" placeholder="Введіть число" />
    <button id="equals">=</button>
    <input type="text" id="calculator-result" placeholder="Результат" />
    <img src="./img/Login.svg" alt="#" />
  </div>
</div>
