<footer class="footer">
    <div class="container footer-flex">
        <img src="./img/coding-magic-logo.svg" alt="logo" class="footer-logo">
        <nav class="info-wrapper">
            <a class="info-wrapper-tel" href="tel:+38 123 456 78 90">Тел: +38 (123) 456 78 90</a>
            <a class="info-wrapper-email" href="mailto:codingmagic@gmail.com">E-Mail: codingmagic@gmail.com</a>
            <a class="info-wrapper-fb" href="https://www.facebook.com/profile.php?id=100063793160968">Facebook: CodingMagic</a>
            <a class="info-wrapper-x" href="https://x.com/coding_magic">Twitter: CodingMagic</a>
            <a class="info-wrapper-ig" href="https://www.instagram.com/coding.magic/">Instagram: CodingMagic</a>
        </nav>
        <div class="footer-form-wrapper">
        <input class="footer-input" placeholder="Ваша ел. адреса..." type="email">
        <button class="footer-submit" id="footer-open-modal" type="submit">Підписатись</button>
        </div>
    </div>
</footer>