
<section class="greatest-num-conteiner_dark">
    <h2 class="input-title_dark">Введіть 3 числа</h2>
    <div class="number-container_dark">
        <div class="input-row_dark">
            <div class="input-group_dark">
                <input class="input_dark" type="number" id="input1" placeholder="Введіть число">
            </div>
            
            <div class="input-group_dark">
                <input class="input_dark" type="number" id="input2" placeholder="Введіть число">
            </div>
            
            <div class="input-group_dark">
                <input class="input_dark" type="number" id="input3" placeholder="Введіть число">
            </div>
        </div>
    </div>
    <div class="result_dark">Найбільше число, яке ви ввели - <span id="maxValue">(число)</span></div>
</section>

<div class="line_dark"></div>