<section class="greatest-num-conteiner">
<h2 class="input-title">Введіть 3 числа</h2>
<div class="number-container">
      
        
        <div class="input-row">
            <div class="input-group">
                <input class="input" type="number" id="input1" placeholder="Введіть число ">
                
            </div>
            
            <div class="input-group">
                <input class="input" type="number" id="input2" placeholder="Введіть число ">
                
            </div>
            
            <div class="input-group">
                <input class="input" type="number" id="input3" placeholder="Введіть число ">
                
            </div>
        </div>
        
        
    </div>
    <div class="result">Найбільше число, яке ви ввели - <span id="maxValue">(число)</span></div>

</section>


    
</section>
    <div class="line"></div>



    



