<div class="number-container">
        <h1># Введіть 3 числа</h1>
        
        <div class="input-row">
            <div class="input-group">
                <input type="number" id="input1" placeholder=" ">
                <span class="input-label">Введіть число</span>
            </div>
            
            <div class="input-group">
                <input type="number" id="input2" placeholder=" ">
                <span class="input-label">Введіть число</span>
            </div>
            
            <div class="input-group">
                <input type="number" id="input3" placeholder=" ">
                <span class="input-label">Введіть число</span>
            </div>
        </div>
        
        <div class="result">Найбільше число, яке ви ввели - <span id="maxValue">(число)</span></div>
    </div>

    <script src="script.js"></script>

