<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sad</title>
    <link rel="stylesheet" href="./style.css">
    <script src="java.js"></script>
</head>
<body>

    <h2 class="">Вгадай число, яке загадав комп’ютер</h2>
    <div class="input-container">
        <input type="number" id="inputField" placeholder="Введіть число">
        <div class="search-icon" onclick="handleSearch()">
            <img src="" alt="Search">
         
        </div>
   
    </div>
    <p class="resultMessage"></p>

</body>
</html>
