
<div class="guess-section_dark">
    <h2 class="guess-title_dark">Вгадай число, яке загадав комп’ютер</h2>
    <div class="guess-num_dark">
    <div class="input-container_dark">
        <input type="number" id="inputField" placeholder="Введіть число">
        <div class="search-icon_dark" onclick="handleSearch()">
            <img src="./img/search.svg" alt="Search">
            
        </div>
    </div>
    
    <p class="resultMessage_dark"></p>
    </div>
</div>
 <!-- <div class="line active"></div> -->