<header class="header">
    <div class="container header-flex">

        <a class="header-logo" href="./index.html">
            <img class="header-logo-img" src="./img/coding-magic-logo.svg" alt="Logo">
        </a>
        <div class="interactives-wrap">
        <p class="header-filter header-link">Інтерактив</p>
        <span class="header-arrow">></span>
        </div>
        <a href="./index.html" class="header-team-link header-link">Наша команда</a>
        <a href="./index.html" class="header-contact-link header-link">Контакти</a>


        <label class="toggle">
            <input type="checkbox" id="themeToggle" />
            <div class="slider">
            <div class="toggle-dot">
                <div class="icon">
                <img src="./img/sun.svg" alt="icon" id="themeIcon" class="toggle-icon" />
                </div>
            </div>
            </div>
        </label>
        <p class="header-login">Вітаємо, User!</p>
    </div>
</header>