<header class="header">
    <div class="container header-flex">
        <a href="./index.html">
            <img src="#" alt="Logo">
        </a>
        <p class="header-filter">Інтерактив</p>
        <a href="./index.html" class="header-team-link">Наша команда</a>
        <a href="./index.html" class="header-contact-link">Контакти</a>
        <label class="toggle">
            <input type="checkbox" id="themeToggle" />
            <div class="slider">
            <div class="toggle-dot">
                <div class="icon">
                <img src="#" alt="icon" id="themeIcon" class="toggle-icon" />
                </div>
            </div>
            </div>
        </label>
        <p class="header-login"></p>
    </div>
</header>