<div class="header-backdrop">
<div class="header-modal">
    <div class="container modal-flex">
        <img class="header-modal-close" src="./img/close-modal.svg" alt="cross">
        <div class="header-modal-wrap">
            <p class="header-modal-greetings">Привіт!</p>
        <p class="modal-info">
                Ви потрапили на сайт інтерактивних ігор та завдань
                Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
                Бажаємо Вам гарно провести час!</p>
                </div>
                <div class="header-modal-holder">
                <p class="input-describtion">Введіть своє ім’я:</p>
                <input class="header-modal-input" placeholder="Вашe iм'я...." type="email">
                <p class="header-modal-warning">Введіть своє ім'я</p>
                <button class="header-modal-submit" type="submit">Зберегти</button>
                    </div>
            </div>
</div>
</div>
