<div class="rps-card">
<h2 class="rps-title">Камінь - ножиці - папір</h2>
<div class="box-wrap">
    <div class="rock-box rps-box"></div>
    <div class="scissors-box rps-box"></div>
    <div class="paper-box rps-box"></div>

    <div class="scoreboard">
    <p>Рахунок:</p>
    <p>Комп’ютер - <span id="computer-score">0</span></p>
    <p>Ви - <span id="user-score">0</span></p>
    </div>
</div>

<p class="rps-result"></p>
<div class="computer-result">Комп’ютер обрав: <span id="computer-choice-text">?</span></div>

</div>

