
<div class="team-slider">
    <h2 class="slider-title">Наша команда</h2>
    <div class="slider-wrapper">
        <button class="arrow left-arrow">
            <img src="./img/left-arrow.svg" alt="Попередній">
        </button>
        
        <div class="slider-team data-slider">
           
            <div class="slide active">
                <img class="slider-img" src="./img/mykola.jpg" alt="Микола">
                <div class="slide-content">
                    <h2 class="slider-name">Микола</h2>
                    <p class="slider-info">Team-lead, Який рік ти народився</p>
                </div>
            </div>
            
           
            <div class="slide">
                <img class="slider-img" src="./img/nikita.jpg" alt="Нікіта">
                <div class="slide-content">
                    <h2 class="slider-name">Нікіта</h2>
                    <p class="slider-info">Хедер, футер, камінь ножиці папір</p>
                </div>
            </div>
            
          
            <div class="slide">
                <img class="slider-img" src="./img/nazar.jpg" alt="Назар">
                <div class="slide-content">
                    <h2 class="slider-name">Назар</h2>
                    <p class="slider-info">Слайдер Найбільше число</p>
                </div>
            </div>
            
        
            <div class="slide">
                <img class="slider-img" src="./img/liya.jpg" alt="Лія">
                <div class="slide-content">
                    <h2 class="slider-name">Лія</h2>
                    <p class="slider-info">Калькулятор часу</p>
                </div>
            </div>
         
            <div class="slide">
                <img class="slider-img" src="./img/artem.jpg" alt="Артем">
                <div class="slide-content">
                    <h2 class="slider-name">Артем</h2>
                    <p class="slider-info">Калькулятор</p>
                </div>
            </div>
            
           
            <div class="slide">
                <img class="slider-img" src="./img/photo_2025-05-09_21-26-52.jpg" alt="Арсеній">
                <div class="slide-content">
                    <h2 class="slider-name">Арсеній</h2>
                    <p class="slider-info">Число яке загадав комп'ютер</p>
                </div>
            </div>
        </div>
        
        <button class="arrow right-arrow">
            <img src="./img/right-arrow.svg" alt="Наступний">
        </button>
    </div>
</div>
<div class="line"></div>






