
<!-- <div class="team-slider">
    <h2 class="slider-title">Наша команда</h2>
    <div class="slider-wrapper">
        <button class="arrow left-arrow">
            <img src="./img/left-arrow.svg" alt="Попередній">
        </button>
        
        <div class="slider-team data-slider">
           
            <div class="slide active">
                <img class="slider-img" src="./img/mykola.jpg" alt="Микола">
                <div class="slide-content">
                    <h2 class="slider-name">Микола</h2>
                    <p class="slider-info">Team-lead, year chech</p>
                </div>
            </div>
            
           
            <div class="slide">
                <img class="slider-img" src="./img/nikita.jpg" alt="Нікіта">
                <div class="slide-content">
                    <h2 class="slider-name">Нікіта</h2>
                    <p class="slider-info">Scrum master, header, footer, rock paper scissors</p>
                </div>
            </div>
            
          
            <div class="slide">
                <img class="slider-img" src="./img/nazar.jpg" alt="Назар">
                <div class="slide-content">
                    <h2 class="slider-name">Назар</h2>
                    <p class="slider-info">Team slider, greatest num</p>
                </div>
            </div>
            
        
            <div class="slide">
                <img class="slider-img" src="./img/liya.jpg" alt="Лія">
                <div class="slide-content">
                    <h2 class="slider-name">Лія</h2>
                    <p class="slider-info">Time calculator </p>
                </div>
            </div>
         
            <div class="slide">
                <img class="slider-img" src="./img/artem.jpg" alt="Артем">
                <div class="slide-content">
                    <h2 class="slider-name">Артем</h2>
                    <p class="slider-info">Calculator</p>
                </div>
            </div>
            
           
            <div class="slide">
                <img class="slider-img" src="./img/photo_2025-05-09_21-26-52.jpg" alt="Арсеній">
                <div class="slide-content">
                    <h2 class="slider-name">Арсеній</h2>
                    <p class="slider-info">Guess numder</p>
                </div>
            </div>
        </div>
        
        <button class="arrow right-arrow">
            <img src="./img/right-arrow.svg" alt="Наступний">
        </button>
    </div>
</div>
<div class="line"></div>





 -->
<div class="team-slider_dark">
    <h2 class="slider-title_dark">Наша команда</h2>
    <div class="slider-wrapper_dark">
        <button class="arrow_dark left-arrow_dark">
            <img src="./img/left-arrow.svg" alt="Попередній">
        </button>
        
        <div class="slider-team_dark data-slider_dark">
           
            <div class="slide_dark active_dark">
                <img class="slider-img_dark" src="./img/mykola.jpg" alt="Микола">
                <div class="slide-content_dark">
                    <h2 class="slider-name_dark">Микола</h2>
                    <p class="slider-info_dark">Team-lead, year chech</p>
                </div>
            </div>
            
           
            <div class="slide_dark">
                <img class="slider-img_dark" src="./img/nikita.jpg" alt="Нікіта">
                <div class="slide-content_dark">
                    <h2 class="slider-name_dark">Нікіта</h2>
                    <p class="slider-info_dark">Scrum master, header, footer, rock paper scissors</p>
                </div>
            </div>
            
          
            <div class="slide_dark">
                <img class="slider-img_dark" src="./img/nazar.jpg" alt="Назар">
                <div class="slide-content_dark">
                    <h2 class="slider-name_dark">Назар</h2>
                    <p class="slider-info_dark">Team slider, greatest num</p>
                </div>
            </div>
            
        
            <div class="slide_dark">
                <img class="slider-img_dark" src="./img/liya.jpg" alt="Лія">
                <div class="slide-content_dark">
                    <h2 class="slider-name_dark">Лія</h2>
                    <p class="slider-info_dark">Time calculator </p>
                </div>
            </div>
         
            <div class="slide_dark">
                <img class="slider-img_dark" src="./img/artem.jpg" alt="Артем">
                <div class="slide-content_dark">
                    <h2 class="slider-name_dark">Артем</h2>
                    <p class="slider-info_dark">Calculator</p>
                </div>
            </div>
            
           
            <div class="slide_dark">
                <img class="slider-img_dark" src="./img/photo_2025-05-09_21-26-52.jpg" alt="Арсеній">
                <div class="slide-content_dark">
                    <h2 class="slider-name_dark">Арсеній</h2>
                    <p class="slider-info_dark">Guess numder</p>
                </div>
            </div>
        </div>
        
        <button class="arrow_dark right-arrow_dark">
            <img src="./img/right-arrow.svg" alt="Наступний">
        </button>
    </div>
</div>
<div class="line_dark"></div>