<div class="time-calc time-calc--flex">
  <h2 class="time-calc__title">Калькулятор часу</h2>
  <div class="time-calc--wrapp">
    <div class="time-calc__form">
      <input
        type="text"
        class="time-calc__input"
        minlength="1"
        maxlength="50"
        placeholder="Введіть число"/>
      <button class="time-calc__btn">
        <img class="time-calc__img" src="./img/search.svg" alt="search" />
      </button>
    </div>
    <p class="time-calc__output-text"></p>
  </div>
</div>