<div class="year-check year-check--flex">
  <h2 class="year-check__title">Перевір в який рік ти народився</h2>
  <div class="form-check--wrapp">
    <div class="year-check__form">
      <input
        type="text"
        class="year-check__input"
        minlength="2"
        maxlength="7"
        placeholder="Введіть рік народження"
      />
      <button class="year-check__btn">
        <img class="year-check__img" src="./img/search.svg" alt="search" />
      </button>
    </div>
    <p class="year-check__text">В який рік ви народились?</p>
  </div>
</div>
